<h1>Astronauts</h1>

<% @astronauts.each do |astro| %>
  <ul>
      <li>Name: <%= astro.name %></li>
      <li>Age: <%= astro.age %></li>
      <li>Job: <%= astro.job %></li>
  </ul>
<% end%>

<p>
  Average Astronaut Age: <%= @astronaut.average_age %>
</p>